.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
